body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
  
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}
h1, h2{
  color: whitesmoke;
}
.Fizz{
  color: crimson; 
}
.title{
  margin-top: 40px;
}
.headers{
  margin: auto;
}
.Buzz{

  font-size: xx-large;
  color: blue;
}

table{
  display: block;
  table-layout: fixed ;
  width: 100% ;
 
 
}


.textinput{
  padding: 10px;
}
input {
 padding: 10px;
 margin: 10px;
 font-size: larger;
 
}
button{
  padding: 10px;
  font-size: larger;
  background: linear-gradient(to right, orange, red);
}
button:hover{
  background: linear-gradient(to left, blue, skyblue);
}
.numbers{
  margin-left: 30vh;
  margin-right: 30vh;
  margin-bottom: 20vh;
}
tr{
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(180deg, crimson, blue);
 background-clip: text;
 color: transparent;
 
}
th{
  font-size: xx-large;
  padding: 20px;
  width: 6% ;
  text-align: center;
  display: inline-block;
  margin: 3px;
}
th:hover{
  background-image: linear-gradient(90deg, white, gray);
 background-clip: text;
 color: transparent;
}
.animate__animated.animate__zoomIn{
  --animate-duration: 4s ;
}
.animate__animated.animate__rollIn{
  --animate-duration: 3s ;
}
.animate__animated.animate__bounceIn{
  --animate-duration: 2s ;
}
